{% extends 'leads/base.html' %}
{% load static %}
{% block content %}
<div class="box">
    <div class="portrait">
        <p></p>
        <img class="img1" src="{% static 'leads/respiraton.jpg' %} ">
        <p></p>
    </div>
    <div class="registerform">
    <p>¡Únete ya!</p>
        <form method="POST"> {% csrf_token %}
    {{ ClienteForm.nombre }}
    <br><br>
    {{ ClienteForm.email }}
    <br><br>
    {{ ClienteForm.whatsapp }}
    <br><br>
    {{ ClienteForm.ciudad }}
    <p>
    <input class="button" type="submit" value="Enviar">
    </p>
        </form>
    </div>
</div>
<h2>¡Gracias Respiratón 2021!</h2>
<p>
    AtmospherApp nació gracias a la Respiratón 2021. <br>Somos una aplicación web para cuidar el aire y salvar el planeta. <br>Al registrarte acumularás puntos por cumplir los retos y tareas encomendadas <br>en beneficio de la calidad del aire. Así que ayudarás a tu ciudad<br> mientras cuidas de ti y tu familia.
</p>

{% endblock %}